.hidden {
    display: none;
}

.sp {
    padding: 10px;
}

.bg-login1-image {
    background: url(../img/login.jpg);
    background-position: center;
    background-size: cover;
}
.bg-update1-image {
    background: url(../img/update.jpg);
    background-position: center;
    background-size: cover;
}

.bg-register1-image {
    background: url(../img/register.jpg);
    background-position: ceneter;
    background-size: cover;
}

.bg-reset-image {
    background: url(../img/rename.jpg);
    background-position: center;
    background-size: cover;
}

.fa-laugh-wink1:before {
    background-image: url(../img/rgit.jpg);
    background-size: 100% 100%;
    /* This way, the image fills the entire space of the box */
    background-repeat: no-repeat;
    /* if the image will repeat or not, in case it is smaller than the box */
    background-position: center;
    /*  defines the image position inside the box */
    background-origin: content-box;
}

.aboutus {
    height: 400px;
    width: 400px;
    margin: auto;
    align-self: center;
}

.team {
    width: 100%;
    height: 500px;
}

/* dashboard */

.list-group {
    margin: 0 0 3rem;
}

@media (max-width: 991px) {
    .card {
        margin: 0 auto 3rem;
    }
}

.subject-heading {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* add students */

.card-row {
    width: 400px;
}

.sub {
    opacity: 0.2;
}

.inst {
    display: inline-block;
}

#subject1:focus:invalid {
    border-color: #f5c6cb;
    box-shadow: 0 0 0 0.2rem #f8d7da;
}

/* used for styling login page error */

#error {
    border-radius: 5rem;
}

.error-msg {
    font-size: 0.75rem;
}

/* toast */

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,0.15)
}

.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,0.15)
}
