#mainPopup {
  padding: 10px;
  width: 100%;
  text-align: center;
}

#notOnMeet {
  padding: 10px;
  width: 500px;
  text-align: center;
}

h1 {
  font-size: 1rem;
}

.save-attendance,
.save-attendance:link,
.save-attendance:visited {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  transition: transform 0.2s, box-shadow 0.2s;
  display: inline-block;
  border: 1px solid;
  cursor: pointer;
  box-shadow: 0px 0.3rem 0.7rem 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.save-attendance:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0.3rem 1rem 0px rgba(0, 0, 0, 0.1);
}

.save-attendance:active,
.save-attendance:focus {
  outline: none;
  transform: translateY(1px);
  box-shadow: 0px 0.3rem 0.5rem 0px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}



.sp{
  padding: 10px;
}


.bg-login1-image {
  background: url(../img/login.jpg);
  background-position: center;
  background-size: cover;
}

.bg-register1-image {
  background:url(../img/register.jpg);
  background-position: ceneter;
  background-size: cover;
}

.bg-reset-image {
  background: url(../img/rename.jpg);
  background-position:center;
  background-size: cover;
}
.fa-laugh-wink1:before {
  background-image: url(../img/rgit.jpg);
 background-size: 100% 100%;
 /* This way, the image fills the entire space of the box */
 background-repeat: no-repeat;
 /* if the image will repeat or not, in case it is smaller than the box */
 background-position: center;
 /*  defines the image position inside the box */
 background-origin: content-box;
  
}


.aboutus{

  height: 400px;
  width: 400px;
  margin: auto;
  align-self: center;
}

.team{
  width: 100%;
  height:500px;
}