body {
  font-family: "lato", sans-serif;
  position: relative;
  // height: 95vh;
}

.table-div {
  width: 95vw;
  margin: auto;
}

.attendance-table {
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 5px;
  padding: 0.6rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 500px) {
    position: relative;
    left: 0%;
    transform: translate(0);
    margin-bottom: 1rem;
  }
}

table,
td,
th {
  border: 1px solid lightgray;
  text-align: left;
  padding: 0.6rem 0.8rem;
  overflow: hidden;
}

th,
td {
  min-width: 5rem;
}

th {
  background-color: #b8daff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:not(:last-child) {
    border-right: 1px solid #96b4d4;
  }
}

tr {
  &:hover {
    background-color: #f5f5f5;
  }
}

thead {
  position: relative;
  display: block;
  max-width: 95vw;

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

thead th:nth-child(1) {
  /*first cell in the header*/
  position: relative;
  min-width: 15rem;
  /*seperates the first cell in the header from the header*/
  overflow: hidden;
}

thead th:nth-child(2) {
  /*first cell in the header*/
  position: relative;
  min-width: 5rem;
  overflow: hidden;
}

tbody {
  position: relative;
  display: block;
  /*seperates the tbody from the header*/
  max-width: 95vw;
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: scroll;

  @media (max-width: 500px) {
    max-width: 100%;
    max-height: 100%;
  }
}

tbody td {
  background-color: #fff;
  min-width: 5rem;
}

tbody tr td:nth-child(1) {
  /*the first cell in each tr*/
  position: relative;
}

tbody tr td:nth-child(2) {
  /*the first cell in each tr*/
  position: relative;
}

.attn {
  max-width: 5rem;
}

.name {
  min-width: 15rem;
}

.hidden {
  display: none;
}

.subject-select {
  padding: 1rem 0;
  width: 95vw;
  margin: auto;
}

#subjects {
  width: 16rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 10px 1rem;
  border-radius: 5px;
  background-color: #b8daff;
  border: 1px solid #96b4d4;
}

.button-excel {
  float: right;

  @media (max-width: 500px) {
    float: none;
  }
}
